/* Task 2,3

.cards {
  display: flex;
  gap: 0 10px;
}

.card {
  background-color: yellow;
  color: blue;
  padding: 25px;
  cursor: pointer;
}

.active {
  background-color: blue;
  color: yellow;
} */

.hidden {
  display: none;
}
